.allButtons {
    width: 400px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px
}
  
.allButtons__sort {
    width: 30%;
    outline: none; 
    font-size: 12px;
    border: none;
}
  
.allButtons__sort:hover {
    cursor: pointer;
    background:rgb(169, 229, 245);;
}

@media (max-width: 500px) {
    .allButtons {
        width: 300px;
        height: 35px
    }
    .allButtons__sort {
        font-size: 9px;
        width: 32%;
        font-weight: 900;
        padding: 0
    }
}