.SortButtons {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}
  
.SortButtons button {
    width: 30%;
    outline: none; 
    background: #dbf3e2;
    color: #009bff;
    font-size: 11px;
    border: none;
    box-shadow: 1px 1px 3px #00000078
}
  
.SortButtons button:hover {
    cursor: pointer;
    background: #c9f7d7;
}

.SortButtons button:focus {
    cursor: pointer;
    background: #009bff;
    color:  whitesmoke;
    box-shadow: 1px 1px 3px #ffffffcb
}