.SortButtons {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}
  
.SortButtons button {
    width: 30%;
    outline: none; 
    background: 	#B5EAF8;
    color: #0051ff;
    font-size: 12px;
    border: none;
    box-shadow: 1px 1px 3px #00000078
}
  
.SortButtons button:hover {
    cursor: pointer;
    background:rgb(169, 229, 245);;
}

.SortButtons button:focus {
    cursor: pointer;
    background: #009bff;
    color:  whitesmoke;
    box-shadow: inset 1px 1px 3px black
}